@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
<<<<<<< HEAD
  background: #f1f1f1;
=======
  background: #ffff;
>>>>>>> 262e9bc5975ea4e6152fb1b8c0112859aa3b9480
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
